<div style="text-align: center;">
	<h3>From: <%= @message.text %></h3>
	<a href=<%= @message.link %> class="link_subtitle_tag"> <%= @message.link %> </a>
	<hr>
	<p> From <%= @message.sender_id %></p>
</div>