<%= form_tag sessions_path do %>
  <div>
    <%= text_field_tag :email, params[:email], placeholder: 'Email'%>
  </div>
  <div>
    <%= password_field_tag :password, placeholder: 'Password'%>
  </div>
  <div class="button"><%= submit_tag "Log in" %></div>
<% end %>