<%= form_for(current_user.relationships.find_by(followed_id: @user),
             html: { method: :delete }) do |f| %>
  <%= f.submit "Unfollow", class: "visited" %>
<% end %>
<% @user.channels.each_with_index do |channel, i| %>
<table>
	<tr>
		<td align="right">
			<%= i + 1 %>. 
		</td>
		<td>
			<p class="link_title_tag link_title"><%= channel.name %></p>
		</td>
	</tr>
</table>
<% end %>
