<!DOCTYPE html>
<html>
	<body>
	  	<div class="feed_container">
	  		<table>
	  			<tr>
	  				<td><%= link_to "Submit", link_path("new"), class: 'visited'%></td>
	  				<td><%= link_to "Create", group_path("new"), class: 'visited'%></td>
	  				<td><a href="#" class="visited">Search</a></td>
	  				<td><%= link_to "Messages" , class: 'visited'%></td>
	  				<td><%= link_to "Settings", class: 'visited'%></td>
	  			</tr>
	  			<% @link.reverse_each do |link| %>
	  			<tr>
	  				Hello
	  			</tr>
	  			<% end %>
	  		</table>
	  	</div>
	 </body>
</html>