<%= form_for(@link) do |f| %>

	<% @link.errors.full_messages.each do |error| %>

		<%= error %>

	<% end %>
    <div>
    	<%= f.text_field :url, placeholder: 'url', class: 'link-box' %>
    </div> 
    <%= f.submit %>

<% end %>
