<tr>
	<td><h2>#<%= @tag.name %></h2></td>
<tr>
 <% @tag.links.each_with_index do |link, i| %>
  <tr>
	<td>
		<%= i + 1 %>.	 
	</td>
	<td>
    	<%= link_to link.title, link_path(link), class: 'link_title_tag link_title' %>
	</td>
  </tr>
<% end %>
